body {
    background-color: #EFEFEF;
}

.cont {
    margin: 40px;
    background-color: white;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 39px;
    height: 39px;
}

.cont-desc {
    font-size: 10px;
    font-weight: normal;
    color: #999999;
}