body {
    background-color: #EFEFEF;
}

.cont {
    margin: 40px;
    background-color: white;
}

.btn-publish {
    float: right;
    margin: 15px 0;
}

.media-object {
    width: 39px;
    height: 39px;
}

.cont-desc {
    font-size: 10px;
    font-weight: normal;
    color: #999;
}
.avatar{
    width: 64px;
    height: 64px;
}

.comment{
    border-bottom: 1px solid #ececec;
    padding-bottom: 7px;
    clear: both;
}

.menu{
    margin-top: 20px;
}

.menu .icon{
    margin-right: 5px;
    font-size: 15px;
    color: #999;
    cursor: pointer;
}
.menu .icon:hover{
    color: lightpink;
}